.header {
  min-height: 60px;
  color: #000;
  display: flex;
  align-items: center;
  border-bottom: 1px solid steelblue;
  box-shadow: 1px 1px #000;
}

.link {
  color: #000;
  font-size: 20px;
  padding: 30px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}